<section class="container__edit_video">
  <h1 class="w-100 bg-gray-400 text-center py-4 text-3xl text-white"> Editing <%= @video.title%></h1>
  <%= form_for @video, {:class => 'w-80 m-auto bg-amber-500'} do |f| %>
    <div class="flex gap-8 py-2 px-6">
      <%= f.label :description_template, 'Description Template', :class => 'w-64' %>
      <select class="border p-2 text-gray-500 w-80 h-10  outline-transparent">
        <%@description.each do |template|%>
          <option value="<%= template.id%>">
          <%= template.name%>|<%= template.id%>
          </option>
        <%end%>
      </select>
    </div>
    <div class="flex gap-8 py-2 px-6">
      <%= f.label :title, 'Title', :class => 'w-64' %>
      <%= f.text_field :title, :class => 'border p-2 text-gray-500 w-80 h-10 outline-transparent' %>
    </div>
    <div class="flex gap-8 py-2 px-6">
      <%= f.label :tags, 'Tags', :class => 'w-64' %>
      <%= f.text_area :tags, :value => @video.tags.join(','), :cols => 50, :rows => 5, :class => 'border p-2 text-gray-500 w-80 h-18 outline-transparent' %>
    </div>
    <div class="flex gap-8 py-2 px-6">
      <%= f.label :chapter_markers, 'Chapter Markers', :class => 'w-64' %>
      <%= f.text_area :chapter_markers, :class => 'border p-2 text-gray-500 w-80 h-18 outline-transparent' %>
    </div>
    <div class="flex gap-8 py-2 px-6">
      <%= f.submit 'Edit Video', class: 'w-100 bg-sky-500 text-white py-2 px-6 rounded-md' %>
    </div>
  <% end %>
</section>