<h1><%= @video.title%></h1>
<ul>
  <li>
    <iframe 
      width="560" 
      height="315" 
      src="https://www.youtube.com/embed/<%=@video.youtube_id%>" 
      title="YouTube video player" 
      frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
  </li>
  <li>
    <%= @video.title%>
  </li>
  <li>
    <%= @video.tags%>
  </li>
  <li>
    <%= @video.chapter_markers%>
  </li>
  <li>
    <%= @video.description_template.template%>
  </li>
</ul>

<%= link_to 'Edit',  edit_video_path(@video)%>



